# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Large/raw data
data/raw/
data/processed/

# Logs
*.log

# macOS
.DS_Store

# Tableau temporary files
*.twbr

# Temporary and backup files
*.tmp
*.bak
